:root {
  /* --font-family: SharpGrotesk-10; */


  /* --brand-golden-100: #fef5e5; */
  --background-surface-primary: #0e152c;
  /* --brand-golden-600: #e3b639;
  --brand-golden-700: #c49e31;
  --brand-golden-800: #a08128;
  --brand-golden-300: #fee1a8;
  --brand-golden-900: #715b1c;
  --brand-blue-nights-100: #e9e7fe;
  --brand-golden-200: #feebc9;
  --brand-blue-nights-200: #d1cdfd;
  --brand-golden-400: #fed77f;
  /* --brand-blue-nights-300: #b7b0fc; */
  --brand-golden-500: #fecc40;
  /* --brand-blue-nights-400: #978cfb;
  --brand-blue-nights-600: #6451df;
  --brand-blue-nights-500: #705bfa;
  --brand-blue-nights-700: #5646c1;
  --brand-blue-nights-800: #46399e;
  --brand-blue-nights-900: #32286f;
  --brand-dark-blue-100: #e5e6e6;
  --brand-dark-blue-200: #c9cacb;
  --brand-dark-blue-300: #a8a9ac;
  --brand-dark-blue-500: #414350;
  --brand-dark-blue-400: #808086;
  --brand-dark-blue-600: #3a3b47;
  --brand-dark-blue-700: #32333d;
  --brand-dark-blue-800: #292a32;
  --brand-dark-blue-900: #1d1d23;
  --brand-blue-bay-100: #e4e7f7;
  --brand-blue-bay-200: #c6ccef;
  --brand-blue-bay-300: #a3aee6;
  --brand-blue-bay-400: #7589de;
  --brand-blue-bay-600: #1b4cbe;
  --brand-blue-bay-500: #1f55d5; */
  --brand-blue-bay-700: #1841a4;
  /* --brand-blue-bay-800: #133586;
  --brand-blue-bay-900: #0d265f;
  --brand-pink-100: #fae7ee;
  --brand-pink-200: #f6cddc;
  --brand-pink-300: #f2b0c9;
  /* --brand-pink-400: #ed8cb3; */
  --brand-pink-500: #e95b9b;
  /* --brand-pink-600: #d0518a; */
  /* --brand-pink-700: #b44678; */
  /* --brand-pink-800: #933962;
  /* --brand-pink-900: #682845; */
  --text-light: #fff;
  --text-soft: rgba(255, 255, 255, 0.65);
  /* --label-color-dark-primary: #fff; */
  /* --gradient-primary: rgba(0, 0, 0, 0.2); */
}