html {
  font-size: 62.5%;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-default), sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-surface-primary);
}

html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: .1rem;
}

h1, h3, h5 {
  font-family: var(--font-medium);
}

h2, h4, h6 {
  font-family: var(--font-medium-l);
}

span {
  font-family: var(--font-medium);
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */