:root {
  --page-padding: 9rem;
}

@media screen and (max-width: 700px) {
  :root {
    --page-padding: 4rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --page-padding: 1rem;
  }
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: overlay;
}

body {
  font-family: var(--font-default), sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-surface-primary);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

h1,
h3,
h5 {
  font-family: var(--font-medium);
}

h2,
h4,
h6 {
  font-family: var(--font-medium-l);
}

span {
  font-family: var(--font-medium);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.gradient,
.gradient strong {
  width: fit-content;
  background: linear-gradient(to right, #625cbf, #c55fa3, #fccc50);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hide {
  display: none;
}

.active {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.08) 50%
  );
  border-radius: 1.6rem;
}

.active img,
.active div {
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

.hide-intro {
  opacity: 0;
  transition: opacity 800ms;
  display: none;
}

@media screen and (max-width: 600px) {
  #hide {
    display: none;
  }

  #show {
    background-image: linear-gradient(
      to bottom,
      rgba(14, 21, 44, 0.85) 90%,
      rgba(14, 21, 44, 0) 100%
    );
    padding-bottom: 3rem;
  }

  .hide-intro {
    transition-delay: 800ms;
  }
}
