:root {
  /* INDEXES */
  --ring-b-index: 5;
  --ball-index: 6;
  --ring-a-index: 7;

  --content-index: 10;

  --navbar-index: 1000;

  /* GLOBAL VARS */
  --page-max-width: 120rem;

  --navbar-height: 10.5rem;

  --page-padding: 9rem;
}

@media screen and (max-width: 700px) {
  :root {
    --page-padding: 4rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --page-padding: 1rem;
  }
}
