:root {
  --page-padding: 8rem;
  --background-surface-primary: #0e152c;
  --brand-golden-500: #fecc40;
  --brand-blue-bay-700: #1841a4;
  --brand-pink-500: #e95b9b;
  --text-light: #fff;
  --text-soft: rgba(255, 255, 255, 0.65);
  --font-display: SharpGrotesk-10;
  --font-medium: SharpGrotesk-15;
  --font-medium-l: SharpGrotesk-25;
  --font-default: SFProText;
}

@media screen and (max-width: 700px) {
  :root {
    --page-padding: 4rem;
    --background-surface-primary: #0e152c;
    --brand-golden-500: #fecc40;
    --brand-blue-bay-700: #1841a4;
    --brand-pink-500: #e95b9b;
    --text-light: #fff;
    --text-soft: rgba(255, 255, 255, 0.65);
    --font-display: SharpGrotesk-10;
    --font-medium: SharpGrotesk-15;
    --font-medium-l: SharpGrotesk-25;
    --font-default: SFProText;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --page-padding: 1rem;
  }
}

html {
  font-size: 62.5%;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  overflow-y: overlay;
}

body {
  font-family: var(--font-default), sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.4rem;
  color: rgba(255, 255, 255, 0.87);
  background-color: var(--background-surface-primary);
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.1rem;
}

h1,
h3,
h5 {
  font-family: var(--font-medium);
}

h2,
h4,
h6 {
  font-family: var(--font-medium-l);
}

span {
  font-family: var(--font-medium);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: normal;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}

.gradient,
.gradient strong,
.gradient .gradient-text {
  width: fit-content;
  background: linear-gradient(to right, #625cbf, #c55fa3, #fccc50);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.hide {
  display: none;
}

.active {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.08) 50%);
  border-radius: 1.6rem;
}

.intro-loaded {
  height: 100%;
}

.intro-not-loaded {
  height: 98dvh;
}

@media screen and (max-width: 600px) {
  .intro-not-loaded {
    height: 60dvh;
  }
}

.active img,
.active div {
  opacity: 1;
}

body::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #373737;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #b3b3b3;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-thumb:active {
  background-color: #999999;
}

img {
  user-select: none;
}

.hide-intro {
  opacity: 0;
  transition: opacity 800ms;
  display: none;
}

@media screen and (max-width: 600px) {
  #hide {
    display: none;
  }

  #show {
    background-image: linear-gradient(to bottom, rgba(14, 21, 44, 0.85) 90%, rgba(14, 21, 44, 0) 100%);
    padding-bottom: 3rem;
  }

  .hide-intro {
    transition-delay: 800ms;
  }
}

@font-face {
  font-family: SFProText;
  src: local(SFProText-Semibold), url(../assets/themes/dark/fonts/SFProText-Semibold.ttf) format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: SharpGrotesk-10;
  src: local(SharpGrotesk-LightItalic10),
    url(../assets/themes/dark/fonts/SharpGrotesk-LightItalic10.otf) format('opentype');
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: SharpGrotesk-15;
  src: local(SharpGrotesk-Light15), url(../assets/themes/dark/fonts/SharpGrotesk-Light15.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: SharpGrotesk-25;
  src: local(SharpGrotesk-Medium25), url(../assets/themes/dark/fonts/SharpGrotesk-Medium25.otf) format('opentype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Inter-italic;
  src: local(Inter-Italic), url(../assets/themes/dark/fonts/Inter-Italic.woff2) format('opentype');
  font-weight: 500;
  font-stretch: normal;
}

@font-face {
  font-family: Inter;
  src: local(Inter), url(../assets/themes/dark/fonts/Inter.ttf) format('opentype');
  font-stretch: normal;
}

.content-hidden {
  opacity: 0;
}

.content-visible {
  opacity: 1;
}

/* fade in animation */
.fade-in {
  animation: fadeIn ease 500ms;
  -webkit-animation: fadeIn ease 500ms;
  -moz-animation: fadeIn ease 500ms;
  -o-animation: fadeIn ease 500ms;
  -ms-animation: fadeIn ease 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
