name: Deploy to Vercel

on:
  push:
    branches:
      - main
      - dev
  pull_request:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment:
      name: ${{ github.ref_name == 'main' && 'Prod' || 'Dev' }}

    steps:
      - uses: actions/checkout@v3

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'yarn'

      - name: Install dependencies
        run: yarn --prefer-offline
        id: install

      - name: Build project dependencies
        run: yarn run build
        id: build
        env:
          NEXT_PUBLIC_RPC_URL: ${{ secrets.NEXT_PUBLIC_RPC_URL }}

      - uses: amondnet/vercel-action@v25
        id: vercel-deployment
        with:
          vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
          vercel-org-id: ${{ secrets.ORG_ID}} #Required
          scope: ${{ secrets.ORG_ID}} #Required
          vercel-args: ${{ github.ref_name == 'main' && '--prod' || '' }}
          vercel-project-id: ${{ secrets.PROJECT_ID}} #Required
          working-directory: ./dist

      - name: Comment PR
        if: github.event_name == 'pull_request'
        uses: thollander/actions-comment-pull-request@v2
        with:
          message: |
            Preview: ${{ steps.vercel-deployment.outputs.preview-url }}
